<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>FIRST PAGE</title>
</head>
<body>
    <div class="container1">
        <div class="logo-container">
            <form1>
                <div class="small_logo">
                    <img src="../img/logo.svg">
                </div>
                <i class="fas fa-user-friends"></i>
                <i class="fas fa-home"></i>
                <i class="fas fa-cog"></i>
            </form1>
        </div>
        <div class="menu-container">
            <form2>
                <button>Fryzjerzy</button>
                <button>Makijażyści</button>
                <button>Barberzy</button>
                <button>Styliści paznokci</button>
                <button>Styliści brwi</button>
            </form2>
        </div>
        <div class="find-container">
            <form3>
                <div class ="title">
                    <text>Czas na zmianę</text>
                </div>
                <div class ="invitation">
                    <text>Podaj adres i znajdz usługodawcę z dojazdem do Twojej okolicy</text>
                </div>
                <div class ="find">
                    <input type="search" placeholder="Adres, np. Armi Krajowej 1">
                    <input type="submit" value="Szukaj">
                </div>
                <div class="recommended-container">
                    <form5>
                        <div class ="recommended">
                            <text>Polecane</text>
                        </div>
                        <div class="recommended-logo">
                            <div class="img1">
                                <img src="../img/recommended1.svg">
                                <div class="recommended-description1">
                                    <div class="name">
                                        <text>Imię Nazwisko</text>
                                    </div>
                                    <div class="profession">
                                        <text>Fryzjer</text>
                                    </div>
                                    <div class="description">
                                        <text>Opis</text>
                                    </div>
                                    <i class="fab fa-instagram"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-facebook-f"></i>
                                </div>

                            </div>
                        
                            <div class="img1">
                                <img src="../img/recommended2.svg">
                                <div class="recommended-description1">
                                    <div class="name">
                                        <text>Imię Nazwisko</text>
                                    </div>
                                    <div class="profession">
                                        <text>Makijażysta</text>
                                    </div>
                                    <div class="description">
                                        <text>Opis</text>
                                    </div>
                                    <i class="fab fa-instagram"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-facebook-f"></i>
                                </div>
                            </div>
                            
                            <div class="img1">
                                <img src="../img/recommended3.svg">
                                <div class="recommended-description1">
                                    <div class="name">
                                        <text>Imię Nazwisko</text>
                                    </div>
                                    <div class="profession">
                                        <text>Stylista paznokci</text>
                                    </div>
                                    <div class="description">
                                        <text>Opis</text>
                                    </div>
                                    <i class="fab fa-instagram"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-facebook-f"></i>
                                </div>
                            </div>
                            
                        </div>
                    </form5>
                </div>
            </form3>
        </div>
    </div>
</body>