<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <form>
                <div class="logo">
                    <img src="../img/logo.svg">
                </div>
                <text>E-mail</text>
                <input name="Email" type="text">
                <text>Hasło</text>
                <input name="" type="password">
                <button>Zaloguj się</button>
            </form>
        </div>
        <button>Zarejestruj się</button>
    </div>
</body>