<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>SETTING PAGE</title>
</head>
<body>
    <div class="container-base">
        <div id="header">
            <header>
                <img src="../img/logo.svg">
                <div id="icon">
                    <img src="../img/profile.svg">
                    <i class="fas fa-home"></i>
                    <i class="fas fa-cog"></i>
                </div>
            </header>
        </div>
        <div id="setting">
            <nav>
                <div id="profile">
                    <img src="../img/profile.svg">
                </div>
                <ul>
                    <li>  
                        <a href="#" class="button"><i class="fas fa-heart"></i>Ulubione</a>
                    </li>
                    <li>
                        <a href="#" class="button"><i class="fas fa-history"></i>Historia Usług</a>
                    </li>
                    <li>
                        <a href="#" class="button"><i class="fas fa-location-arrow"></i>Adresy</a>
                    </li>
                    <li>
                        <a href="#" class="button"><i class="fas fa-sign-out-alt"></i>Wyloguj</a>
                    </li>
                </ul>
                </div>
            </nav>
        </div>
    </div>    
</body>