<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>SETTING PAGE</title>
</head>
<body>
    <div class="container1">
        <div class="logo-container">
            <form1>
                <div class="small_logo">
                    <img src="../img/logo.svg">
                </div>
                <i class="fas fa-user-friends"></i>
                <i class="fas fa-home"></i>
                <i class="fas fa-cog"></i>
            </form1>
        </div>
        <div class="setting-container">
            <div class="profile">
                <img src="../img/profile.svg">
            </div>
            <form5>
                <button><i class="fas fa-heart"></i> Ulubione</button>
                <button><i class="fas fa-history"></i>Historia Usług</button>
                <button><i class="fas fa-location-arrow"></i> Adresy</button>
                <button><i class="fas fa-sign-out-alt"></i> Wyloguj</button>
            </form5>
        </div>
    </div>
</body>