body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #6550501c linear-gradient(1deg, #38143b 0%, #622369 50%, #3A133D 100%) 0% 0% no-repeat padding-box;
    #background: transparent linear-gradient(180deg, #702776 0%, #38143B 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
}

.login-container, .register-container{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container{
    margin-top: 1em;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 75vh;
    background: #6550501c linear-gradient(1deg, #38143b 0%, #622369 50%, #3A133D 100%) 0% 0% no-repeat padding-box;
    #background: transparent linear-gradient(180deg, #6A2570 0%, #351338 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 90px;
}

form.register{
    height: 95vh;
}

button{
    background: transparent radial-gradient(closest-side at 50% 50%, #702776 0%, #38143B 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    #border: 1px solid #FFFFFF;
    border-radius: 70px;

    width: 50%;
    height: 7vh;
    color: white;
    margin: 1.2em;
    line-height: 2.5em;
    font: normal normal normal 1em Segoe Script;
}

button#zr{
    width: 15em;
    height: 7vh;
}

#zr.button{
    width: 15em;
    height: 3vh;
    line-height: 1.5em;
}

button:hover{
    transform: scale(0.9);
    opacity:0.85;
}

a:hover{
    transform: scale(0.9);
    opacity:0.85;
}

i:hover{
    transform: scale(0.9);
    opacity:0.85;
}

input{
    background: transparent linear-gradient(180deg, #69246E 0%, #351237 100%) 0% 0% no-repeat padding-box;
    #border: 1px solid #FCFAFA;
    border-radius: 70px;
    text-align: left;
    font: normal normal normal 1em Segoe Script;
    letter-spacing: 0px;
    color: #ffffff;
    width: 80%;
    height: 5vh;
    padding: 0.2em;
    margin: 1em;
}

input#register{
    margin: 0.5em;
}

text{
    background-color: transparent;
    border: none;
    text-align: left;
    font: normal normal normal 1.2em Segoe Script;
    letter-spacing: 0px;
    color: #ffffff;
    width: 80%;
}

text#register{
    background-color: transparent;
    border: none;
    text-align: left;
    font: normal normal normal 1em Segoe Script;
    letter-spacing: 0px;
    color: #ffffff;
    width: 80%;
}

.container-base{
    height: 100vh;
    #background: transparent linear-gradient(180deg, #702776 0%, #38143B 100%) 0% 0% no-repeat padding-box;
    background: #38143b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    height: 19vh;
    width: 99.9vw;
    background: #5e1a65 linear-gradient(180deg, #2a0e2d 0%, #622367 50%, #3a133d 100%) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
}

header>img {
    width: 15vw;
    justify-content: flex-start;
}

header >div#icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header>div#icon a {
    font-size: 2em;
    color: white;
    margin: 1.5em 1em;
    justify-content: center;
}


header>div#icon>a>img {
    width: 1.2em;
}

div#main{
    display: flex;
    width: 100%;
    height: 80vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20vw;
    height:81vh;
    background: #6550501c linear-gradient(1deg, #38143b 0%, #622369 50%, #3A133D 100%) 0% 0% no-repeat padding-box;
    #background: transparent linear-gradient(180deg, #98599B 0%, #4C2D4E 100%) 0% 0% no-repeat padding-box;
    #background: #622367;
    #border-radius: 5em;
    #margin-top: 0.2em;
}

a {
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    text-align: center;
    line-height: 5em;
    font: normal normal normal 14px/30px Segoe Script;
    color: #FFFFFF;
}

.button {
    background: transparent radial-gradient(closest-side at 50% 50%, #702776 0%, #38143B 100%) 0% 0% no-repeat padding-box;
    #border: 1px solid #FCFAFA;
    border-radius: 8em;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    padding: 1.4em;
    width: 80%;
    height: 2em;
    margin-top:1em
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style-type: none;
    font: normal normal normal 10px/3px Segoe Script;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    height: 100%;
    width: calc(100% - 40px);
    margin: auto;
    padding: 0;

}

li {
    text-align: center;
    justify-content: center;
    color: white;
    margin-bottom: 2em;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 1em;
    overflow: auto;
}

div#recommended1>img{
    height: 20em;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

div#recommended1>div>div{
    height: 50%;
    margin: 1em;
    font: normal normal normal 18px/25px Segoe Script;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1{
    font: normal normal normal 50px/57px Segoe Script;
    color:white;
    align-items: center;
    margin: 0.1em;
}

h2{
    margin-top: 0;
    font: normal normal normal 20px/27px Segoe Script;
    color:white;
}
h3{
    margin-top: 0;
    font: normal normal normal 14px/21px Segoe Script;
    color:white;
}

h4{
    margin: 0 1.5em;
    font: normal normal normal 22px/29px Segoe Script;
    color:white;
}

p{
    margin-top: 0;
    font: normal normal normal 18px/25px Segoe Script;
    color:white;
}

div#invitation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#find{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#find input{
    background: transparent linear-gradient(180deg, #69246E 0%, #9B5B9F 0%, #9F60A3 0%, #A061A48F 100%, #A162A5 100%) 0% 0% no-repeat padding-box;
    color: white;
    height: 7vh;
    width: 90vw;

}

div#find input[type="search"]{
    position: relative;
    width: 40%;
    left: +5%;
    border: 1px solid #FCFAFA;
    border-radius: 60px 0px 0px 60px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
}

div#find ::-webkit-input-placeholder{
    color: white;
    opacity: 0.52;
}

div#find input[type="submit"]{
    position: relative;
    right: 5%;
    width: 13%;
    background: transparent linear-gradient(180deg, #69246E 0%, #351237 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #FCFAFA;
    border-radius: 70px;
    cursor: pointer;
    text-align: center;

}

div#setting> nav{
    display: flex;
    flex-direction: row;
    border-radius: 190px;
    width: 98vw;
}

div#profile{
    justify-content: center;
    align-items: center;
    margin: auto ;
}

div#setting >nav>div#profile{
    margin: auto 0 auto 2em;
}

div#setting .button{
    align-items: left;
    padding: 1em;
}

div#setting-favourite>nav{
    display: flex;
    flex-direction: row;
    background: transparent;
    border: none;
    width: 55vw;
    height: 80vh;
}

div#setting-favourite{
    display: flex;
    flex-direction: row;
    #background: transparent linear-gradient(180deg, #98599B 0%, #4C2D4E 100%) 0% 0% no-repeat padding-box;
    #background: #622367;
    background: #6550501c linear-gradient(1deg, #38143b 0%, #622369 50%, #3A133D 100%) 0% 0% no-repeat padding-box;
    border-radius: 90px;
    width: 98vw;
    height: 79.7%;
    margin-top: 0.2em;
}

a#f.button, a#s.button{
    text-align: left;
}

a#f i{
    margin-left: 28%;
    margin-right: 1em;
}

a#s i{
    margin-left: 43%;
    margin-right: 1em;
}

div#setting-favourite a#f{
    width: 20vw;
}

div#setting-favourite>nav> ul#f{
    width: auto;
    height: auto;
    margin: 8em 0em;
}

main#favourites{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2em;
}

div#description{
    display: flex;
    align-items: center;
    justify-content: center;
}

div#description i{
    color: white;
    font-size: 2.4em;
    margin: 1em;
}

h5{
    font: normal normal normal 30px/47px Segoe Script;
    color:white;
    align-items: center;
    margin: 0.1em;
}

section.favourites{
    height: 65%;
    width: 96%;
}

section.recommendeds > div:hover{
    transform: scale(1.1);
}

div#favourite1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent linear-gradient(180deg, #a162a5 0%, #6D336F 100%) 0% 0% no-repeat padding-box;
    #background: transparent linear-gradient(180deg, #E9BCEB 0%, #6D336F 100%) 0% 0% no-repeat padding-box;
    #border: 1px solid #FFFFFF;
    border-radius: 10px;
}

div#favourite1> img{
    width: 5em;
}

div#favourite1 .button{
    width: 5em;
    background: #411743 0% 0% no-repeat padding-box;
    #border: 2px solid #FEFAFA;
    border-radius: 20px;
}

hr{
    margin-top: 1em;
    background: white;
    color: white;
    width: 100%;
    height: 0.01em;
}

div#addresses{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

div#addresses .button{
    width: 10em;
}

div#addresses .input{
    display: flex;
    flex-direction: row;
}


.input
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input input{
    background: transparent linear-gradient(180deg, #69246E 0%, #9B5B9F 0%, #9F60A3 0%, #A061A48F 100%, #A162A5 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #FCFAFA;
    border-radius: 70px;
    width: 100%;
    height: 4em;
}
.input input[tye="search"]{
    font-size: 50em;
    padding: 0.1em;
}
.input ::-webkit-input-placeholder{
    color:white;
    opacity: 0.52;
}

.fa-plus-circle{
    margin-inline-start: -3.5em;
    left: -4em;
    margin-top: 2.5em;
    color: white;
}

div#addresses >section {
    height: 8.5em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    padding: 1em;
    overflow: auto;
}

ul#f> i{
    margin: 12em;
}

div#find input#s1[type="search"]{
    margin-right: 0;
    width: 36%;
    left: +2%;
}

div#find input#s2[type="date"]{
    width: 36%;
    left: +2%;
    border: 1px solid #FCFAFA;
    position: relative;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: 0;
    border-radius:0;
    height: inherit;
}

div#find input#s[type="submit"]{
    width: 12%;
    left: 0.5%;
    margin-left: 0;
    position: relative;
    border-radius:0px 70px 70px 0px;
}

section#history.favourites{
    grid-template-columns: 1fr;
}

div#history1{
    display: flex;
    align-items: center;
    background: transparent linear-gradient(180deg, #a162a5 0%, #6D336F 100%) 0% 0% no-repeat padding-box;
    #background: transparent linear-gradient(180deg, #E9BCEB 0%, #6D336F 100%) 0% 0% no-repeat padding-box;
    #border: 1px solid #FFFFFF;
    border-radius: 10px;
}

div#history1 div{
    margin: 1em;
    width: 30em;
}

div#history1 div#data{
    margin: 1em;
    width: 8em;
}

#recommended1{
    text-align: start;
}

ul.glide__slides{
    display: flex;
    flex-direction: row;
}

.glide.glide--ltr.glide--carousel.glide--swipeable{
    overflow: hidden;
}

div.glide__arrows{
    position: relative;
    display: flex;
    bottom: 20em;
}

.glide__arrow.glide__arrow--left{
    background: transparent;
    width: 5em;
    margin-right: 33em;
}

.glide__arrow.glide__arrow--right{
    background: transparent;
    width: 5em;
    margin-left: 33em;
}

.favourites{
    width: 50em;
    #height: 20em;
}

#favourite1{
    height: 40em;
    width: 25em;
}

#f.glide__arrow.glide__arrow--left{
    margin-right: 21em;
}

#f.glide__arrow.glide__arrow--right{
    margin-left: 21em;
}

#f.glide__track{
    height: 26em;
}

#f.glide__arrows{
    position: relative;
    display: flex;
    bottom: 15em;
}

button.button\.edit-adress {
    width: 10em;
}
.add-advertisement-container{
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 98vw;
    align-items: center;
    border: none;
    background: transparent;
}

.add-advertisement-container input{
    margin-top: 0em;
    height: 3.5vh;
}

#name-surname{
    display: flex;
}

#name{
    display: flex;
    flex-direction: column;
    width: 30em;
    margin-right: 1em;
    margin-left: 0;
}

#surname{
    display: flex;
    flex-direction: column;
    width: 30em;
    margin-right: 0;
    margin-left: 1em;
}

#name input, #surname input{
    margin-left: 0;
    width: 95%;
}

#loadFileXml{
    margin-top: 0.5em;
    height: 5vh;
    width: 8.5em;
}
